

@font-face {
    font-family: 'Roboto bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto') format('svg');
}


@font-face {
    font-family: 'Roboto regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto') format('svg');
}


body {
    font-family: 'Roboto regular';
    background-color: #EEEEEE;
    padding: 24px;
    color: #3C3C3C;
}

h1, h2, h3, h4, h5, h6, p, span, label, input, select, textarea, a {
    font-family: 'Roboto regular';
}

.main {
    border-radius: 40px;
    background: #FFF;
    padding: 24px;
    width: 100%;
}

.bold {
    font-family: 'Roboto bold' !important;
}

.navbar {
    background-color: #fff !important;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #205C64 !important;
    border-bottom: 1px solid #205C64;
}

.carousel-item {
    height: 750px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.c-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* This is the magic property for images */
    object-fit: cover;
    /* This ensures the middle of the photo is always visible */
    object-position: center;
}



.carousel-control {
    position: absolute;
    bottom: 24px;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 16px;
    left: 24px;
    right: 24px;
}

.control-next, .control-prev {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    border-radius: 50px;
    background: var(--Backgrounds-Primary, #FFF);
    opacity: 1;
    border: none;
}

.control-line {
    height: 2px;
    flex: 1 0 0;
    background: #FFF;
}

.carousel-caption {
    position: absolute;
    right: unset;
    bottom: 35%;
    left: 24px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bs-carousel-caption-color);
    text-align: start;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(4px);
    padding: 24px;
    max-width: 720px;
}

.carousel-title {
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-family: 'Roboto bold';
    line-height: normal;
    text-transform: capitalize;
}

.carousel-description {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Roboto regular';
}


.carousel-item .carousel-caption {
    opacity: 0;
    transition: ease 0.5s;
}

.carousel-item.active .carousel-caption {
    opacity: 1;
    transition: ease 2s;
}

.blue {
    color: #1F6B83;
}

.green {
    color: #205C64;
}

.yellow {
    color: #ECC379;
}

.black {
    color: #000;
}

.gray {
    color: #3C3C3C;
}

.white {
    color: #fff;
}

.title-36 {
    font-size: 36px;
    font-style: normal;
    line-height: normal;
}

.title-24 {
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

.mt-150 {
    margin-top: 150px;
}

.text-18 {
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
}

.btn-yellow {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: var(--ecc-379, #ECC379);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: var(--Color, #000);
}

    .btn-yellow:hover {
        background: #EDD56A;
    }

.btn-blue {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: var(--1-f-6-b-83, #1F6B83);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
}

    .btn-blue:hover {
        background: #205C64;
        color: #fff;
    }

.destination-container {
    padding: 24px;
    align-self: stretch;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url('../img/bg.png');
    /*    background-size: 100%;
*/ background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.destination {
    border-radius: 18px;
    background: #F2F2F7;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    cursor: pointer;

    span {
        color: var(--Color-2, #3C3C3C);
        font-size: 24px;
        font-style: normal;
        font-family: 'Roboto bold';
    }

    .img-container {
        width: 100%;
        height: 250px;
        border-radius: 18px;
        overflow: hidden
    }

    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        transition: all 0.5s ease-out;
    }

    .img-container:hover img {
        transform: scale(1.1);
    }
}

.text-justify {
    text-align: justify;
}

.owl-dots {
    display: none;
}

.owl-prev, .owl-next {
    display: flex !important;
    width: 64px !important;
    height: 64px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
    aspect-ratio: 1/1 !important;
    border-radius: 50px !important;
    background: var(--Backgrounds-Primary, #FFF) !important;
    border: none;
    font-size: 36px !important;
    transition: ease 0.3s;
    border: 1px solid #cccccc !important;
}

    .owl-prev:hover, .owl-next:hover {
        background: #ECC379 !important;
    }

.owl-nav {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

    .owl-nav span {
        height: 60px;
    }


.card-services {
    border-radius: 20px;
    overflow: hidden;
    border: none;
    min-height: 420px;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

    .card-services img {
        position: absolute;
        width: 100%;
        object-fit: cover;
        height: 100%;
        transition: all 0.3s ease-out;
    }

    .card-services:hover img {
        transform: scale(1.1);
    }

.card-services-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    padding: 16px;
    text-align: start;
    font-size: 14px;
    transition: all 1s ease-out;
    background: #1B2A3B;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

.logo {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    text-align: center;
    padding: 24px;
}

.dont-miss {
    padding: 150px 24px;
    align-self: stretch;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url('../img/03.jpg');
    /*    background-size: 100%;
*/ background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.title-dont-miss {
    color: var(--Backgrounds-Primary, #FFF);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 72px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    max-width: 600px;
}



.card-package {
    border-radius: 20px;
    overflow: hidden;
    border: none;
    min-height: 500px;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

    .card-package img {
        position: absolute;
        width: 100%;
        object-fit: cover;
        height: 100%;
        transition: all 0.3s ease-out;
    }

    .card-package:hover img {
        transform: scale(1.1);
    }

.card-package-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    padding: 16px;
    text-align: start;
    font-size: 14px;
    transition: all 1s ease-out;
    background: #1B2A3B;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

a {
    color: var(--Color-2, #3C3C3C);
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}


.footer {
    border-radius: 20px;
    background: var(--Grays-Gray-6, #F2F2F7);
    padding: 24px;

    a {
        color: var(--Color-2, #3C3C3C);
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        text-decoration:none;
    }
}

.footer-logo{
    width:100%;
    max-width:200px;
}

.footer-links{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.social-icon {
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    border-radius: 34px;
    background: var(--1-f-6-b-83, #1F6B83);
}

.footer .form-control {
    border-radius: 10px;
    border: none;
    min-height: 50.47px;
}

.copyrights {
    display: flex;
    padding: 24px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: #1F6B83;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.header-destination {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>) lightgray 0px -613.976px / 100% 364.541% no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url('../img/h1.png');
    color: var(--Backgrounds-Primary, #FFF);
    font-family: 'Roboto bold';
    font-size: 72px;
    font-style: normal;
    line-height: normal;
    background-position: center;
}

.header-services {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>) lightgray 0px -613.976px / 100% 364.541% no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url('../img/h3.png');
    color: var(--Backgrounds-Primary, #FFF);
    font-family: 'Roboto bold';
    font-size: 72px;
    font-style: normal;
    line-height: normal;
    background-position: center;
}

.header-packages {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>) lightgray 0px -613.976px / 100% 364.541% no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url('../img/h2.png');
    color: var(--Backgrounds-Primary, #FFF);
    font-family: 'Roboto bold';
    font-size: 72px;
    font-style: normal;
    line-height: normal;
    background-position: center;
}

.header-contact {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>) lightgray 0px -613.976px / 100% 364.541% no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url('../img/h4.png');
    color: var(--Backgrounds-Primary, #FFF);
    font-family: 'Roboto bold';
    font-size: 72px;
    font-style: normal;
    line-height: normal;
    background-position: center;
}


.image-thumb {
    width: 100%;
    height: 100%;
    min-height:400px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

    .image-thumb img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* This is the magic property for images */
        object-fit: cover;
        /* This ensures the middle of the photo is always visible */
        object-position: center;
    }


.image-thumb-package {
    width: 100%;
    height: 100%;
    min-height: 400px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

    .image-thumb-package img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* This is the magic property for images */
        object-fit: cover;
        /* This ensures the middle of the photo is always visible */
        object-position: center;
    }

.package {
    display: flex;
    padding: 9px 14px;
    align-items: center;
    gap: 64px;
    border-radius: 50px;
    background: var(--Grays-Gray-6, #F2F2F7);
    width:max-content;
}


.text-14{
    font-size:14px;
}

.contact-container {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    background: var(--Grays-Gray-6, #F2F2F7);
    width:max-content;
    margin-bottom:16px;
}


.send-message {
    border-radius: 10px;
    background: var(--Grays-Gray-6, #F2F2F7);
    border: none;
    min-height: 50.47px;
}





@media(max-width:767px) {
    body, .main {
        padding: 8px;
    }

    .navbar {
        border-radius: 20px;
    }

    .carousel-title {
        font-size: 36px;
    }

    .carousel-caption {
        right: 24px;
    }

    .carousel-description {
        font-size: 16px;
    }

    .title-dont-miss {
        font-size: 60px;
        text-align: center;
    }

    .mt-150 {
        margin-top: 100px;
    }

    .footer .btn-yellow {
        width: 100%;
    }

    .copyrights {
        flex-direction: column;
    }

    .header-contact, .header-destination, .header-services, .header-packages {
        font-size: 48px;
        text-align: center;

        img {
            width: 200px;
        }
    }
}